 
 <%= form_for(@project) do |p| %>
 <div class="zespol">  
 <div class="field">
	    <%= p.label :główny_trener_prowadzący%><br />
	    <%= p.text_area :leading_head_coach, :rows=>2, :cols=>105%>	   	    
	  </div>	  
	  <div class="field">
	    <%= p.label :drugi_trener%><br />
	    <%= p.text_area :second_coach, :rows=>2, :cols=>105%>
	  </div>
	  <div class="field">
	    <%= p.label :Trainee_w_ramach_CPD%><br />
	    <%= p.text_area :cpd_trainee, :rows=>2, :cols=>105%>
	  </div>
	  <div class="field">
	    <%= p.label :Asystenci%><br />
	    <%= p.text_area :assistants, :rows=>2, :cols=>105%>
	  </div>
	</div>
<%end%>
