<div class="pakowacz">
	<div class="links_top">
<%= link_to 'Show', @project %> <br/>
<%= link_to 'Back', projects_path %>
</div>
<h1>Edytuj projekt</h1>

<%= render 'form' %>

<div class="links">
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>
</div>
