<h1 class="title">Spis projektów</h1>
<div>
<table class="metryczka" >
  <tr>
    <th>Nazwa</th>
    <th>Klient</th>
    <th>Rodzaj Projektu</th>
    <th>Highrise</th>
    <th>Skydrive</th>
    <th>Basecamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><span class="name"><%= project.name %></span></td>
    <td><%= project.client %></td>
    <td><%= project.project_type %></td>
    <td><%= project.highrise %></td>
    <td><%= project.skydrive %></td>
    <td><%= project.basecamp %></td>
    <td class="show"><%= link_to 'Pokaż', project %></td>
    <td class="ed"><%= link_to 'Edytuj', edit_project_path(project) %></td>
    <td class="del"><%= link_to 'Usuń', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<div class="new">
<%= link_to 'Nowy Projekt', new_project_path %>
</div>
</div>
