<div class="links_top">
<%= link_to 'Edit', edit_project_path(@project) %> <br/>
<%= link_to 'Back', projects_path %>
</div>
	<h1>Szczegóły projektu</h1>
<p id="notice"><%= notice %></p>
<h3 id="metr">Metryczka </h3>



<div class="metr">
	
	<table class="tabl">
	<tr>
		<td class="head"><b>Nazwa projektu:</b> </td>
		<td class="ins"><%=@project.name%> </td> 
		<% if(@project.name_history_id!=nil) %>			
			<td> <%= "Historia: "+@field_hist_arr[@project.name_history_id].value%> </td>
			<% end %> 		
	</tr>
	
<tr>
  <td class="head"><b>Klient:</b></td>
  <td class="ins"><%= @project.client %></td>
  <% if(@project.client_history_id!=nil) %> 		
  <td class="hist"><%= "Historia: "+@field_hist_arr[@project.client_history_id].value%> </td>
			<% end %>   	
</tr>
	
<tr>
  <td class="head"><b>Rodzaj projektu:</b></td>
  <td class="ins"><%= @project.project_type %></td>
  	<% if(@project.project_type_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.project_type_history_id].value%> </td>
			<% end %> 
</tr>

<tr>
  <td class="head"><b>Highrise:</b></td>
  <td class="ins"><%= @project.highrise %></td>
  	<% if(@project.highrise_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.highrise_history_id].value%> </td>
			<% end %> 
</tr>

<tr>
  <td class="head"><b>Skydrive:</b></td>
  <td class="ins"><%= @project.skydrive %></td>
  <% if(@project.skydrive_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.skydrive_history_id].value%> </td>
			<% end %> 
</tr>

<tr>
  <td class="head"><b>Basecamp:</b></td>
  <td class="ins"><%= @project.basecamp%></td>
  <% if(@project.basecamp_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.basecamp_history_id].value%> </td>
			<% end %>
</tr>
	</table>
</div>

<h3 id="org">Sprawy organizacyjne </h3> 
<div class="org">
	<table class="tabl">
	<tr>
  <td class="head"><b>Liczba uczestników:</b></td>
  <td class="ins"><%= @project.participant_count%></td>
  <% if(@project.participant_count_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.participant_count_history_id].value%> </td>
			<% end %>
</tr>

<tr>
  <td class="head"><b>Gra:</b></td>

  <td class="ins"><%= @project.game%></td>
  <% if(@project.game_history_id!=nil)%> 			
			<td> <%= #"Historia: "+@field_hist_arr[@project.game_history_id].value
			%> </td>
			<% end%>
  <td class="ins"><%= @project.games.collect {|g| g.name}.join(', ')%></td>
</tr>

<tr>
  <td class="head"><b>Podział na grupy:</b></td>
  <td class="ins"><%= @project.groups_division%></td>
  <% if(@project.groups_division_history_id!=nil) %> 			
			<td> <%= "Historia podziału gróp: "+@field_hist_arr[@project.groups_division_history_id].value%> </td>
			<% end %>
</tr>

<tr>
  <td class="head"> <b>Liczba sal:</b></td>
  <td class="ins"><%= @project.number_of_rooms%></td>
  <% if(@project.number_of_rooms_history_id!=nil) %> 			
			<td> <%= "Historia liczby sal: "+@field_hist_arr[@project.number_of_rooms_history_id].value%> </td>
			<% end %>
</tr>

<tr>
  <td class="head"> <b>Data:</b></td>
  <td class="ins"><%= @project.date_of_game%></td>
  <% if(@project.date_of_game_history_id!=nil) %> 			
			<td> <%= #"Historia zmian daty gry: "+@field_hist_arr[@project.date_of_game_history_id].value
			%> </td>
			<% end %>
</tr>

<tr>
  <td class="head"> <b>Godziny:</b></td>
  <td class="ins"><%= @project.hour_duration%></td>
   <% if(@project.hour_duration_history_id!=nil) %> 			
			<td> <%= "Historia zmian czasu gry: "+@field_hist_arr[@project.hour_duration_history_id].value%> </td>
			<% end %>
</tr>

<tr>
  <td class="head"><b>Lokalizacja:</b></td>
  <td class="ins"><%= @project.localization%></td>
  <% if(@project.localization_history_id!=nil) %> 			
			<td> <%= "Historia lokalizacji: "+@field_hist_arr[@project.localization_history_id].value%> </td>
			<% end %>
  </tr>

<tr>
  <td class="head"> <b>Osoby kontaktowe od strony organizacyjnej (klient):</b></td>
  <td class="ins"><%= @project.contacts_client%></td>
  <% if(@project.contacts_client_history_id!=nil) %> 			
			<td> <%= "Historia zmian kontaktów: "+@field_hist_arr[@project.contacts_client_history_id].value%> </td>
			<% end %>
</tr>

<tr>
  <td class="head">  <b>Osoby kontaktowe od strony organizacyjnej (hotel):</b></td>
  <td class="ins"><%= @project.contacts_hotel%></td>
  <% if(@project.contacts_hotel_history_id!=nil) %> 			
			<td> <%= "Historia zmian kontaktów: "+@field_hist_arr[@project.contacts_hotel_history_id].value%> </td>
			<% end %>
</tr>

<tr>
  <td class="head"><b>Szczegóły dotyczące transportu:</b></td>
  <td class="ins"><%= @project.transport_details%></td>
  <% if(@project.transport_details_history_id!=nil) %> 			
			<td> <%= "Historia transportu: "+@field_hist_arr[@project.transport_details_history_id].value%> </td>
			<% end %>
</tr>

<tr>
  <td class="head"><b>Zakwaterowanie:</b></td>
  <td class="ins"><%= @project.accomodation%></td>
  <% if(@project.accomodation_history_id!=nil) %> 			
			<td> <%= " Zmiany w zakwaterowaniu: "+@field_hist_arr[@project.accomodation_history_id].value%> </td>
			<% end %>
 </tr>
</table>
</div>

<h3 id="mer">Kwestie Merytoryczne </h3>
<div class="mer">
	<table class="tabl">
<tr>
		<td class="head"> <b>Cel uzgodniony z klientem:</b></td>
  <td class="ins"><%= @project.target_agreed_with_customer%></td>
  <% if(@project.target_agreed_with_customer_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.target_agreed_wirh_customer_history_id].value%> </td>
			<% end %>
</tr>
<tr>
		<td class="head">
  <b>Pozostałe oczekiwania klienta:</b></td>
  <td class="ins"><%= @project.other_expectations%></td>
  <% if(@project.other_expectations_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.other_expectations_history_id].value%> </td>
			<% end %>
</tr>
<tr>
		<td class="head"><b>Temat i kontekst:</b></td>
  <td class="ins"><%= @project.subject%></td>
  <% if(@project.subject_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.subject_history_id].value%> </td>
			<% end %>
</tr>
<tr>
		<td class="head"><b>Profil uczestników:</b></td>
  <td class="ins"><%= @project.profile_of_participants%></td>
  <% if(@project.profile_of_participants_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.profile_of_participants_history_id].value%> </td>
			<% end %>
</tr>
<tr>
		<td class="head"><b>Osoba kontaktowa po stronie klienta:</b></td>
  <td class="ins"><%= @project.contact_person_on_client_side%></td>
  <% if(@project.contact_person_on_client_side_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.contact_person_on_client_side_history_id].value%> </td>
			<% end %>
</tr>
<tr>
		<td class="head"> <b>Gospodarz lub sponsor spotkania:</b></td>
  <td class="ins"><%= @project.host_of_the_meeting%></td>
  <% if(@project.host_of_the_meeting_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.host_of_the_meeting_history_id].value%> </td>
			<% end %>
</tr>
<tr>
		<td class="head"> <b>Pozostałe informacje (np. rodzaj raportu) :</b></td>
  <td class="ins"><%= @project.other_information%></td>
  <% if(@project.other_information_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.other_information_history_id].value%> </td>
			<% end %>
</tr>
</table>
</div>

<h3 id="zespol">Zespół </h3>
<div class="zespol">
<table class="tabl">
	<tr>
      <td class="head"><b>Główny trener prowadzący:</b></td>
      <td class="ins"><%= @project.leading_head_coach%></td>
      <% if(@project.leading_head_coach_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.leading_head_coach_history_id].value%> </td>
			<% end %>
    </tr>
<tr>
      <td class="head"><b>Drugi_trener:</b></td>
      <td class="ins"><%= @project.second_coach%></td>
      <% if(@project.second_coach_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.second_coach_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Trainee w ramach CPD:</b></td>
      <td class="ins"><%= @project.CPD_trainee%></td>
      <% if(@project.CPD_trainee_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.CPD_trainee_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Asystenci:</b></td>
      <td class="ins"><%= @project.assistants%></td>
      <% if(@project.assistants_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.assistants_history_id].value%> </td>
			<% end %>
</tr>
</table>
</div>
<h3 id="przedPro"> Przed projektem </h3>
<div class="przedPro">
<table class="tabl">
	<tr>
      <td class="head"><b>Agenda spotkania:</b></td>
  <td class="ins"><%= @project.agenda_of_meeting%></td>
      <% if(@project.leading_head_coach_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.leading_head_coach_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Podział obowiązków grupy projektowej:</b></td>
  <td class="ins"><%= @project.responsibilities_division%></td>
   <% if(@project.leading_head_coach_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.leading_head_coach_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Podsumowanie po grze oraz program warsztatu:</b></td>
  <td class="ins"><%= @project.after_game_summary%></td>
   <% if(@project.after_game_summary_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.after_game_summary_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Zaproszenie, dla uczestników:</b></td>
  <td class="ins"><%= @project.invitation_for_participants%></td>
  <% if(@project.invitation_for_participants_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.invitation_for_participants_history_id].value%> </td>
			<% end %>
</tr>
</table>
</div>

<h3 id="poSpotkaniu"> Po spotkaniu </h3>
<div class="poSpotkaniu">
<table class="tabl">
	<tr>
      <td class="head"><b>Cel i pozostałe oczekiwania klienta (w jakim stopniu zostały zrealizowane, jakie były sytuacje trudne):</b></td>
  <td class="ins"><%= @project.purpose_and_other_expectations%></td>
  <% if(@project.purpose_and_other_expectations_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.purpose_and_other_expectations_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Uczestnicy i krótka charakterystyka z podziałem na grupy:</b></td>
  <td class="ins"><%= @project.participants_short_description_in_groups%></td>
  <% if(@project.participants_short_description_in_groups_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.participants_short_description_in_groups_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Przebieg szkolenia oraz gry:</b></td>
  <td class="ins"><%= @project.course_of_training%></td>
  <% if(@project.course_of_training_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.course_of_training_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Ustalenia z klientem uzgodnione podczas projektu oraz jego sugestie:</b></td>
  <td class="ins"><%= @project.on_fly_findings_and_suggestions%></td>
  <% if(@project.on_fly_findings_and_suggestions_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.on_fly_findings_and_suggestions_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Ocena realizacji projektu przez zespół projektowy:</b></td>
  <td class="ins"><%= @project.project_evaluation%></td>
  <% if(@project.project_evaluation_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.project_evaluation_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Wnioski dotyczące potencjału sprzedażowego:</b></td>
  <td class="ins"><%= @project.proposals_for_sales_potential%></td>
  <% if(@project.proposals_for_sales_potential_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.proposals_for_sales_potential_history_id].value%> </td>
			<% end %>
</tr>
<tr>
      <td class="head"><b>Merytoryka oraz program warsztatu, gra vs cel, podsumowanie po grze:</b></td>
  <td class="ins"><%= @project.merytoryka%></td>
   <% if(@project.merytoryka_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.merytoryka_history_id].value%> </td>
			<% end %>
</tr>
<tr>
  <td class="head"><b>Przeprowadzenie i podsumowanie gry:</b></td>
  <td class="ins"><%= @project.conduct_and_summary_of_game%></td>
  <% if(@project.conduct_and_summary_of_game_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.conduct_and_summary_of_game_history_id].value%> </td>
			<% end %>
</tr>
<tr>
  <td class="head"><b>Uwagi odnośnie materiałów:</b></td>
  <td class="ins"><%= @project.notes_on_materials%></td>
  <% if(@project.notes_on_materials_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.notes_on_materials_history_id].value%> </td>
			<% end %>
</tr>
<tr>
  <td class="head"><b>Uwagi odnośnie organizacji:</b></td>
  <td class="ins"><%= @project.notes_on_organization%></td>
  <% if(@project.notes_on_organization_history_id!=nil) %> 			
			<td> <%= "Historia: "+@field_hist_arr[@project.notes_on_organization_history_id].value%> </td>
			<% end %>
  
</tr>
</table>
</div>
<div class="links">
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
